body {
  background-color: #ecf0f1;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h5 {
  color: #3498db;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px !important;
  margin-top: 10px;
  margin-bottom: 5px;
}

.methodology-subheading {
  color: #27ae60 !important;
}

.page-header {
  padding-bottom: 0 !important;
  margin: 0 !important; /* -10px */
  border-bottom: 1px solid #bdc3c7 !important;
}

@media (min-width: 1200px) {
  .container {
    width: 1400px !important;
  }
}

#names {
  color: #8e44ad !important;
}

#title {
  padding-top: 20px;
  font-size: 28px !important;
}